NODE_ENV=production
PORT=5005
DATABASE_URL=
BCRYPT_SALT_ROUNDS=12
JWT_SECRET=
EXPIRES_IN=7d
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=30d
RESET_PASS_TOKEN=
RESET_PASS_TOKEN_EXPIRES_IN=10m
RESET_PASS_LINK=https://www.pg-65.com/reset-password
EMAIL=
APP_PASS=
WEBSITE_NAME=PG-65
CONTACT_MAIL=
SITE_URL=https://www.pg-65.com
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
GCS_PROJECT_ID=
GCS_BUCKET_NAME=
GCS_KEY_FILE=
GCS_VIDEO_PATH=videos
GCS_THUMBNAIL_PATH=thumbnails
MAX_VIDEO_SIZE=5368709120
